<!--create form to submit blog post-->
<h2 class="text-center">Dashboard</h2>
<form class="dashboard-form">
  <div class="container mb-2 col-10 col-md-6 col-lg-5 bg-dark text-light py-3 px-5 rounded">
    <label class="form-label" for="blog">New Post</label>
    <input id="blog-title" class="form-control" type="text" placeholder="Enter the title of your blog" aria-label="title" required autofocus>
    <input id="blog-content" class="form-control" type="text" placeholder="Enter the contents of your blog" aria-label="contents" required autofocus>
    <button class="btn btn-primary btn-block" type="sumbit">Submit Blog</button>
  </div>
</form>

<div class="blog-post d-flex justify content-between">
<h3>Existing Blog Posts</h3>
{{#if blogs}}
  {{#each blogs as |blog|}}
  {{> blog}}
  {{/each}}
{{else}}
<p>You have not written any blogs</p>
{{/if}}
</div>



