<div class="d-flex justify-content-center align-items-center">
    <div class="col-10 col-md-6 col-lg-5 bg-dark text-light py-3 px-5 rounded">
        <h2 class="text-center">Login</h2>
        <form class="login-form">
            <div class="mb-2">
                <label class="form-label" for="username">Username</label>
                <input id="username" class="form-control" type="string" placeholder="Enter Your Username" required autofocus>
            </div>
            <div class="mb-4">
                <label class="form-label" for="password">Password</label>
                <input id="password" class="form-control" type="password" placeholder="Enter Your Password" required autofocus>
            </div>
            <div class="d-grid mb-3">
                <button class="btn btn-primary btn-block" type="sumbit">Sign In</button>
            </div>
        </form>
    <p>New user<a href="/signup"> Register here!</a></p>
    </div>
</div>

<script src="/login.js"></script>